<a href="https://colab.research.google.com/github/DiegoCortesH13/sql_project_contoso/blob/main/SQL_course.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

<a target="_blank" href="https://colab.research.google.com/github/lukebarousse/Int_SQL_Data_Analytics_Course/blob/main/Resources/Blank_SQL_Notebook.ipynb">
  <img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/>
</a>

# SQL Project - Microsoft Contoso BI Demo Dataset for Retail Industry

#### Import Libraries & Database

In [ ]:
import sys
import pandas as pd
import matplotlib.pyplot as plt
%matplotlib inline

# If running in Google Colab, install PostgreSQL and restore the database
if 'google.colab' in sys.modules:
    # Update package installer
    !sudo apt-get update -qq > /dev/null 2>&1

    # Install PostgreSQL
    !sudo apt-get install postgresql -qq > /dev/null 2>&1

    # Start PostgreSQL service (suppress output)
    !sudo service postgresql start > /dev/null 2>&1

    # Set password for the 'postgres' user to avoid authentication errors (suppress output)
    !sudo -u postgres psql -c "ALTER USER postgres WITH PASSWORD 'password';" > /dev/null 2>&1

    # Create the 'colab_db' database (suppress output)
    !sudo -u postgres psql -c "CREATE DATABASE contoso_100k;" > /dev/null 2>&1

    # Download the PostgreSQL .sql dump
    !wget -q -O contoso_100k.sql https://github.com/lukebarousse/Int_SQL_Data_Analytics_Course/releases/download/v.0.0.0/contoso_100k.sql

    # Restore the dump file into the PostgreSQL database (suppress output)
    !sudo -u postgres psql contoso_100k < contoso_100k.sql > /dev/null 2>&1

    # Shift libraries from ipython-sql to jupysql
    !pip uninstall -y ipython-sql > /dev/null 2>&1
    !pip install jupysql > /dev/null 2>&1

# Load the sql extension for SQL magic
%load_ext sql

# Connect to the PostgreSQL database
%sql postgresql://postgres:password@localhost:5432/contoso_100k

# Enable automatic conversion of SQL results to pandas DataFrames
%config SqlMagic.autopandas = True

# Disable named parameters for SQL magic
%config SqlMagic.named_parameters = "disabled"

# Display pandas number to two decimal places
pd.options.display.float_format = '{:.2f}'.format

Connecting to 'postgresql://postgres:***@localhost:5432/contoso_100k'

In [ ]:
%%sql

%%sql
SELECT table_name
FROM information_schema.tables
WHERE table_schema = 'public';

In [ ]:
%%sql
SELECT column_name, data_type, is_nullable
FROM information_schema.columns
WHERE table_name = 'sales';

In [ ]:
%%sql

SELECT
  *
FROM
  product
LIMIT 10;

In [ ]:
%%sql

SELECT
  DISTINCT(continent)
FROM
  customer
LIMIT 10;

In [ ]:
%%sql

SELECT
  *
FROM
  sales
LIMIT 10;

In [ ]:
%%sql

SELECT
  s.orderdate as date,
  quantity*(netprice)*exchangerate as net_revenue,
  c.givenname,
  c.surname,
  c.countryfull as country,
  c.continent,
  p.productkey,
  p.productname,
  p.categoryname,
  p.subcategoryname,
  CASE WHEN
     quantity*(netprice)*exchangerate > 1000 THEN 'high'
     ELSE 'low'
     END as customer_value
FROM
  sales s
LEFT JOIN
  customer c
  ON s.customerkey = c.customerkey
LEFT JOIN
  product p
  ON s.productkey = p.productkey
WHERE
  orderdate >= '2020-01-01'
ORDER BY
  1n

In [ ]:
%%sql

SELECT
  orderdate,
  COUNT(DISTINCT(customerkey)) AS total_customers
FROM
  sales s
WHERE
  orderdate >= '2023-01-01'
  AND orderdate < '2024-01-01'
GROUP BY
  orderdate

In [ ]:
from matplotlib import pyplot as plt
import seaborn as sns
def _plot_series(series, series_name, series_index=0):
  palette = list(sns.palettes.mpl_palette('Dark2'))
  xs = series['orderdate']
  ys = series['total_customers']

  plt.plot(xs, ys, label=series_name, color=palette[series_index % len(palette)])

fig, ax = plt.subplots(figsize=(10, 5.2), layout='constrained')
df_sorted = _df_1.sort_values('orderdate', ascending=True)
_plot_series(df_sorted, '')
sns.despine(fig=fig, ax=ax)
plt.xlabel('orderdate')
_ = plt.ylabel('total_customers')

In [ ]:
%%sql

SELECT
  orderdate,
  COUNT(DISTINCT CASE WHEN continent = 'Europe' THEN c.customerkey END) as eu_customers,
  COUNT(DISTINCT CASE WHEN continent = 'North America' THEN c.customerkey END) as na_customers,
  COUNT(DISTINCT CASE WHEN continent = 'Australia' THEN c.customerkey END) as au_customers,
  COUNT(DISTINCT(c.customerkey)) AS total_customers
FROM
  sales s
LEFT JOIN
  customer c
  ON s.customerkey = c.customerkey
WHERE
  orderdate >= '2023-01-01'
  AND orderdate < '2024-01-01'
GROUP BY
  orderdate

In [ ]:
%%sql

SELECT
  p.categoryname as category,
  SUM(CASE WHEN
    EXTRACT(YEAR from s.orderdate) = 2022 THEN quantity*netprice*exchangerate ELSE 0 END)as total_net_revenue_2022,
  SUM(CASE WHEN
    EXTRACT(YEAR from s.orderdate) = 2023 THEN quantity*netprice*exchangerate ELSE 0 END) as total_net_revenue_2023
FROM
  sales s
LEFT JOIN
  product p
  ON s.productkey = p.productkey
WHERE
  orderdate BETWEEN '2022-01-01' AND '2023-12-31'
GROUP BY
  category

In [ ]:
%%sql

SELECT
  p.categoryname as category,
  AVG(CASE WHEN
    s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN quantity*netprice*exchangerate END)as avg_net_revenue_2022,
  MIN(CASE WHEN
    s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN quantity*netprice*exchangerate END)as min_net_revenue_2022,
  MAX(CASE WHEN
    s.orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN quantity*netprice*exchangerate END)as max_net_revenue_2022,
  AVG(CASE WHEN
    s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN quantity*netprice*exchangerate END) as avg_net_revenue_2023,
  MIN(CASE WHEN
    s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN quantity*netprice*exchangerate END) as min_net_revenue_2023,
  MAX(CASE WHEN
    s.orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN quantity*netprice*exchangerate END) as max_net_revenue_2023
FROM
  sales s
LEFT JOIN
  product p
  ON s.productkey = p.productkey
GROUP BY
  category

In [ ]:
%%sql

SELECT
  p.categoryname as category,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN orderdate BETWEEN '2022-01-01' AND '2022-12-31' THEN quantity*netprice*exchangerate END)) as median_sales_2022,
  PERCENTILE_CONT(0.5) WITHIN GROUP (ORDER BY (CASE WHEN orderdate BETWEEN '2023-01-01' AND '2023-12-31' THEN quantity*netprice*exchangerate END)) as median_sales_2023
FROM
  sales s
LEFT JOIN
  product p
  ON s.productkey = p.productkey
GROUP BY
  category